@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;
}
.navbar{
  background: #444;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo{
  display: flex;
  align-items: center;
}
.navbar .logo img{
    width: 25%;
}
.navbar .logo span{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #ac76ee;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    text-align: center;
    background: #444;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}


/*Primera seccion ABOUT*/




.about-us{
  height: 100vh;
  width: 100%;
  padding: 200px 0;
}

.about{
  width: 100%;
  margin: 0 auto;
}

.text{
  width: 500px;
}
.text h2{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5{
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text p{
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: justify;
  margin: 20px 20px auto;
}

/*Politicas*/

.select-menu{
  width: 350px;
  margin: 40px auto;
  display: block;
}
.select-menu .select-btn{
  display: flex;
  height: 55px;
  background: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 25px;
  transition: 0.3s;
}
.select-menu.active .select-btn i{
  transform: rotate(-180deg);
}
.select-menu .options{
  position: relative;
  padding: 20px;

  background: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  display: none;
}
.select-menu.active .options{
  display: block;
}
.options .option{
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  align-items: center;
  background: #fff;
}
.options .option:hover{
  background: #F2F2F2;
}
.option i{
  font-size: 25px;
  margin-right: 12px;
}
.option .option-text{
  font-size: 18px;
  color: #333;
}

.InfoArt{
  width: 100%;
  height: fit-content;
}

.info{
  padding: 0px 35px 0 35px;
  height: 60vh;
}

.info h1{
  text-align: center;
  font-size: 50px;
  color: #444;
}

.info .TxtInfo{ 
  height: fit-content;
  text-align: center;
}

.info .TxtInfo p{
  color: #444;
  text-align: justify;
}


@media (max-width: 700px) {
  .about-us{
    width: 100%;
    height: 100vh;
  }
  .about{
    width: 100%;
  }
  .about-us .about .text{
    width: 100%;
    padding: 0 50px 0 50px;
  }
  
  
}

.atras{
  padding: 30px 30px 30px 30px;
}
.atras a{
  font-size: 20px;
  color: #444;
}

.art2{
  height: 60vh;
  margin-top: 0em;
}

